{% extends "network/layout.html" %}

{% block body %}

    {% for post in posts  %}
    <div class="post-container">
        <div class="post-col-left">
            <div class="profile-img"></div>
        </div>
        <div class="post-col-right">
            <div class="post-info">
                <span>@{{ post.post_author }}</span>
                <span>{{ post.post_date | date:"F d, G:i"}}</span>
            </div>
            <div class="post-body">
                {{ post.post_text}}
            </div>
            <div class="post-metrics" type="button">
                <i class="ph ph-heart"></i>
                <p class="like-count-display">0</p>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}