{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/script.js' %}"></script>
    </head>
    <body>

        <!-- Left Side Bar Navigation -->
        <nav class="col-left">
            <a class="" href="#">The Beautiful Network</a>

            <ul class="menu">
            {% if user.is_authenticated %}
                <li class="menu-item">
                    <a class="" href="{% url 'profile' user.username %}">{{ user.username }}</a>
                </li>
            {% endif %}
            <li class="menu-item">
                <a class="nav-link" href="{% url 'index' %}">All Posts</a>
            </li>
            {% if user.is_authenticated %}
                <li class="menu-item">
                    <a class="" href="#">Following</a>
                </li>
                <li class="menu-item">
                    <a class="" href="{% url 'logout' %}">Log Out</a>
                </li>   

                <button class="btn btn-primary" popovertarget="new-post-popover"><i class="ph ph-note-pencil"></i>New Post</button>
            {% else %}
                <li class="menu-item">
                    <a class="" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="menu-item">
                    <a class="" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
            </ul>
            
        </nav>

        <!-- Popover New Post -->
         <div id="new-post-popover" class="post-popover" popover>
            <h3>New Post</h3>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {% for field in post_form %}
                    <div>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="right">
                        <p id="char-count-display">300</p>
                        <button type="submit" class="btn btn-primary"><i class="ph ph-paper-plane-tilt"></i>Post</button>
                    </div>
                </form> 
            </div>
         </div>
        
        <div class="col-center">
            {% block body %}
            {% endblock %}
        </div>
        <div class="col-right">

        </div>

    </body>
</html>