{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <!-- Left Side Bar Navigation -->
        <nav class="col-left">
            <a class="" href="#">The Beautiful Network</a>
          
            <div>
              <ul class="">
                {% if user.is_authenticated %}
                    <li class="">
                        <a class="" href="#">{{ user.username }}</a>
                    </li>
                {% endif %}
                <li class="">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="">
                        <a class="" href="#">Following</a>
                    </li>
                    <li class="">
                        <a class="" href="{% url 'logout' %}">Log Out</a>
                    </li>

                    <button class="btn btn-primary" popovertarget="new-post-popover">New Post</button>
                {% else %}
                    <li class="">
                        <a class="" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="">
                        <a class="" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>

        <!-- Popover New Post -->
         <div id="new-post-popover" class="post-popover" popover>
            <h3>New Post</h3>¡™
         </div>
        
        <div class="col-center">
            {% block body %}
            {% endblock %}
        </div>
        <div class="col-right">

        </div>

    </body>
</html>