{% extends "network/layout.html" %}

{% block body %}
<section class="profile-group">
    <div class="banner-img"></div>
    <div class="profile-info">
        <div class="profile-image"></div>

        {% comment %} -----Follow Button---- {% endcomment %}
        {% if user.is_authenticated %}
        <form method="post" class="follow-form">
            {% csrf_token %}
            <input type="hidden" name="action" value="follow">
            {% if is_following %}
                <button type="submit" class="btn btn-primary">Unfollow</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Follow</button>
            {% endif %}
        </form>
        {% endif %}

        
        <h1>{{ user_profile }}</h1>
        <div class="profile-statistics">
            <span>{{ number_of_followers }} followers</span>
            <span>{{ number_of_following }} following</span>
            <span>{{ number_of_posts }} Posts</span>
        </div>
    </div>
</section>
<section>
    {% for post in user_posts %}

    <div class="post-container">
        <div class="post-col-left">
            <div class="post-profile-img"></div>
        </div>
        <div class="post-col-right">
            <div class="post-info">
                <span>@{{ post.post_author }}</span>
                <span>{{ post.post_date | date:"F d, G:i"}}</span>
            </div>
            <div class="post-body">
                {{ post.post_text}}
            </div>
            <div class="post-metrics" type="button">
                <i class="ph ph-heart"></i>
                <p class="like-count-display">0</p>
                <p class="like-count-display">0</p>
            </div>
        </div>
    </div>
    
    {% endfor %}
</section>

{% endblock %}